{% extends 'base_generic.html' %}

{% block content %}
  <h1>Пропозиція обміну для книги "{{ book.title }}"</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Зробити пропозицію</button>

    {% if form.errors %}
        <div class="errors">
            <h3>Помилки:</h3>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.name }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  </form>
{% endblock %}